{%- macro render_form(form, form_id) %}
<form class="ui form" id="{{ form_id }}">
    {%- for field in form %}
        {{ render_field(field) }}
    {% endfor -%}
    <div class="ui error message"></div>
</form>
{% endmacro -%}

{%- macro render_field(field) %}
    <div class="field">
        {% if field.type != "HiddenField" %}
            {{ field.label }}
        {% endif %}
        {% if field.type == "SelectMultipleField" %}
            {{ field(class_="ui fluid search dropdown") }}
        {% else %}
            {{ field }}
        {% endif %}
    </div>
{% endmacro -%}

{%- set success_header -%}
    <div class="ui positive message"><i class="close icon"></i><div class="header">
{%- endset -%}
{%- set error_header -%}
    <div class="ui negative message"><i class="close icon"></i><div class="header">
{%- endset -%}
{%- set title_content -%}
    </div><p>
{%- endset -%}
{%- set footer -%}
    </p></div>
{%- endset -%}