{%- from "_formhelper.html" import render_form, success_header, error_header, title_content, footer -%}
<button class="ui basic button assessments">
    <i class="icon add circle"></i>
    New assessment
</button>
<table class="ui celled table">
<thead>
    <tr>
    <th>Name</th>
    <th>Hits</th>
    <th>Users</th>
    </tr>
</thead>
<tbody>
    {%- for row in assessments -%}
        <tr>
            <td>
                <i class="icon link trash delete_assessment" data-id="{{ row['id'] }}"></i>
                <i class="icon link edit edit_assessment" data-id="{{ row['id'] }}"></i>
                {{ row['name'] }}
            </td>
            <td>
                {{ row['hits'] }}
                <i class="icon link search view_assessment" data-id="{{ row['id'] }}"></i>
            </td>
            <td>
                <div class="ui horizontal divided list">
                {% for user in row['users'] %}
                    <div class="item">
                    {{ user[0] }}
                    </div>
                {% endfor %}
                </div>
            </td>
        </tr>
    {%- endfor -%}
</tbody>
</table>

<script>
    $(function () {
        $('.ui.dropdown').dropdown();
        $('.ui.modal.assessments').modal({
            onApprove : function() {
                return false;
            }
        }).modal('attach events', '.button.assessments', 'show');

        $('#create_assessment').form({
            fields: {
                name      : 'empty',
                assignees : ['minCount[1]', 'empty'],
            }
        });

        $('#create_assessment').api({
            action: 'create assessment',
            method: 'POST',
            serializeForm: true,
            onSuccess: function() {
                $('#create_assessment').trigger('reset');
                $('.ui.dropdown').dropdown('clear');
                $('.ui.modal.assessments').modal('hide');
                $('div.a_message').html('{{ success_header|safe }}Success{{ title_content|safe }}Assessment created!{{ footer|safe }}');
                $('#tab_assessments').click()
                $('.message .close').on('click', function() {
                    $(this).closest('.message').transition('fade');
                });
            },
            onError: function() {
                return false;
            },
        });

        $('.delete_assessment').api({
            action: 'delete assessment',
            method: 'DELETE',
            serializeForm: true,
            onSuccess: function() {
                $('div.a_message').html('{{ success_header|safe }}Success{{ title_content|safe }}Assessment deleted!{{ footer|safe }}');
                $('#tab_assessments').click()
                $('.message .close').on('click', function() {
                    $(this).closest('.message').transition('fade');
                });
            },
            onError: function(errorMessage) {
                $('div.a_message').html('{{ error_header|safe }} Error{{ title_content|safe }}' + errorMessage + '{{ footer|safe }}');
                $('.message .close').on('click', function() {
                    $(this).closest('.message').transition('fade');
                });
            },
        });

        $('.edit_assessment').api({
            action: 'modify assessment',
            method : 'GET',
            dataType: 'html',
            stateContext : '#edit_assessment_container',
            onSuccess: function(response) {
                $('.ui.modal.edit_assessment').html("");
                $('#edit_assessment_container').html(response);
                $('.ui.dropdown').dropdown();
                $('#edit_assessment_modal').modal({
                    onApprove : function() {
                        return false;
                    },
                }).modal('show');
                $('#edit_assessment').api({
                    action: 'modify assessment',
                    method: 'POST',
                    serializeForm: true,
                    onSuccess: function() {
                        $('.ui.modal.edit_assessment').modal('hide');
                        $('div.a_message').html('{{ success_header|safe }}Success{{ title_content|safe }}Assessment updated!{{ footer|safe }}');
                        $('#tab_assessments').click()
                        $('.message .close').on('click', function() {
                            $(this).closest('.message').transition('fade');
                        });
                    },
                    onError: function() {
                        return false;
                    },
                    urlData: {
                        id:  $('#id').val()
                    },
                });
            },
        });

        $('.view_assessment').api({
            action: 'view assessment',
            method : 'GET',
            dataType: 'html',
            stateContext : '#view_assessment_container',
            onSuccess: function(response) {
                $('.ui.modal.view_assessment').html("");
                $('#view_assessment_container').html(response);
                $('.ui.dropdown').dropdown();
                $('#view_assessment_modal').modal({
                    onApprove : function() {
                        return false;
                    },
                }).modal('show');
            },
        });
    });
</script>

<div class="ui modal assessments">
    <div class="header">
        Create new Assessment
    </div>
    <div class="content">
        <p>
            {{ render_form(assessment_form, "create_assessment") }}
        </p>
    </div>
    <div class="actions">
        <input type="submit" value="Create" form="create_assessment" class="ui positive button" id="btn_create_assessment" formmethod="post">
        <div class="ui button cancel">Cancel</div>
    </div>
</div>

<div id="edit_assessment_container"></div>
<div id="view_assessment_container"></div>