{%- from "_formhelper.html" import render_form, success_header, error_header, title_content, footer -%}
<button class="ui basic button assessments">
    <i class="icon add circle"></i>
    New assessment
</button>
<table class="ui celled table">
<thead>
    <tr>
    <th>Name</th>
    <th>Hits</th>
    <th>Users</th>
    </tr>
</thead>
<tbody>
    <tr>
        <td>No Name Specified</td>
        <td>0</td>
        <td>Unknown</td>
    </tr>
    <tr class="positive">
        <td>Jimmy</td>
        <td>0</td>
        <td><i class="icon checkmark"></i> Approved</td>
    </tr>
    <tr>
        <td>Jamie</td>
        <td>0</td>
        <td>Unknown</td>
    </tr>
    <tr class="negative">
        <td>Jill</td>
        <td>0</td>
        <td>Unknown</td>
    </tr>
</tbody>
</table>

<script>
    $(function () {
        $('.ui.modal.assessments').modal({
            onApprove : function() {
                return false;
            }
        }).modal('attach events', '.button.assessments', 'show');

        $('#create_assessment').form({
            fields: {
                name      : 'empty',
                assignees : ['minCount[1]', 'empty'],
            }
        });
    });
</script>

<div class="ui modal assessments">
    <div class="header">
        Create new Assessment
    </div>
    <div class="content">
        <p>
            {{ render_form(assessment_form, "create_assessment") }}
        </p>
    </div>
    <div class="actions">
        <input type="submit" value="Create" form="create_assessment" class="ui positive button" formmethod="post">
        <div class="ui button cancel">Cancel</div>
    </div>
</div>
