<!DOCTYPE html>
{%- from "_formhelper.html" import render_form -%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="{{ url_for('static', filename='js/jquery-3.1.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/tablesort.js') }}"></script>
    <script src="{{ url_for('static', filename='js/semantic.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/semantic.min.css') }}">
</head>
<body>
<div class="ui secondary pointing menu">
    <a class="item active" data-tab="tab_home">
        Home
    </a>
    <a class="item" id ="tab_callbacks" data-tab="tab_callbacks">
        Callbacks
    </a>
    <a class="item" id="tab_users" data-tab="tab_users">
        Users
    </a>
    <a class="item" id="tab_assessments" data-tab="tab_assessments">
        Assessments
    </a>
    <a class="item" id="tab_blacklists" data-tab="tab_blacklists">
        Domain Blacklist
    </a>
    <a class="item" data-tab="tab_log">
        Log
    </a>
    <a class="item" data-tab="tab_config">
        Config
    </a>
    <div class="right menu">
        <a class="ui item">
            Logout
        </a>
    </div>
</div>
<div class="a_message"></div>
&nbsp;
<div class="ui tab active" data-tab="tab_home">
    a
</div>
<div class="ui tab" id="tab_callbacks_content" data-tab="tab_callbacks">
</div>
<div class="ui tab" id="tab_users_content" data-tab="tab_users">
</div>
<div class="ui tab" id="tab_assessments_content" data-tab="tab_assessments">
</div>
<div class="ui tab" id="tab_blacklist_content" data-tab="tab_blacklists">
</div>
<div class="ui tab" data-tab="tab_log">
    f
</div>
<div class="ui tab" data-tab="tab_config">
    {% include "config.html" %}
</div>




<script>
    $(function () {
        $('.menu .item').tab();
        $.fn.api.settings.api = {
            'get callbacks'      : '{{ url_for('squeaky_puppy.callback') }}',
            'create callback'    : '{{ url_for('squeaky_puppy.callback') }}',
            'delete callback'    : '{{ url_for('squeaky_puppy.callback') }}/{id}',
            'get users'          : '{{ url_for('squeaky_puppy.user') }}',
            'create user'        : '{{ url_for('squeaky_puppy.user') }}',
            'modify user'        : '{{ url_for('squeaky_puppy.user') }}/{id}',
            'delete user'        : '{{ url_for('squeaky_puppy.user') }}/{id}',
            'get assessments'    : '{{ url_for('squeaky_puppy.assessment') }}',
            'create assessment'  : '{{ url_for('squeaky_puppy.assessment') }}',
            'modify assessment'  : '{{ url_for('squeaky_puppy.assessment') }}/{id}',
            'delete assessment'  : '{{ url_for('squeaky_puppy.assessment') }}/{id}',
            'view assessment'    : '{{ url_for('squeaky_puppy.view_assessment') }}/{id}',
            'get blacklists'     : '{{ url_for('squeaky_puppy.domain') }}',
            'create blacklist'   : '{{ url_for('squeaky_puppy.domain') }}',
            'modify blacklist'   : '{{ url_for('squeaky_puppy.domain') }}/{id}',
            'delete blacklist'   : '{{ url_for('squeaky_puppy.domain') }}/{id}',
        };

        $('#tab_callbacks').api({
            action: 'get callbacks',
            method : 'GET',
            dataType: 'html',
            stateContext : '#tab_callbacks_content',
            onSuccess: function(response) {
                $('#tab_callbacks_content').html(response);
                $('table').tablesort()
            },
        });

        $('#tab_users').api({
            action: 'get users',
            method : 'GET',
            dataType: 'html',
            stateContext : '#tab_users_content',
            onSuccess: function(response) {
                $('#tab_users_content').html(response);
                $('table').tablesort()
            },
        });

        $('#tab_assessments').api({
            action: 'get assessments',
            method : 'GET',
            dataType: 'html',
            stateContext : '#tab_assessments_content',
            onSuccess: function(response) {
                $('#tab_assessments_content').html(response);
                $('table').tablesort()
            },
        });

        $('#tab_blacklists').api({
            action: 'get blacklists',
            method : 'GET',
            dataType: 'html',
            stateContext : '#tab_blacklists_content',
            onSuccess: function(response) {
                $('#tab_blacklist_content').html(response);
                $('table').tablesort()
            },
        });

        $('.ui.dropdown').dropdown();
    });
</script>
</body>
</html>