{%- from "_formhelper.html" import render_form, success_header, error_header, title_content, footer -%}
<button class="ui basic button blacklists">
    <i class="world icon"></i>
    Blacklist domain
</button>
<table class="ui celled table">
<thead>
    <tr>
    <th>User</th>
    <th>E-mail</th>
    <th>Assessments</th>
    </tr>
</thead>
<tbody>
    <tr>
        <td>No Name Specified</td>
        <td>Unknown</td>
        <td class="negative">None</td>
    </tr>
    <tr class="positive">
        <td>Jimmy</td>
        <td><i class="icon checkmark"></i> Approved</td>
        <td>None</td>
    </tr>
    <tr>
        <td>Jamie</td>
        <td>Unknown</td>
        <td class="positive"><i class="icon close"></i> Requires call</td>
    </tr>
    <tr class="negative">
        <td>Jill</td>
        <td>Unknown</td>
        <td>None</td>
    </tr>
</tbody>
</table>

<script>
    $(function () {
        $('.ui.modal.blacklists').modal({
            onApprove : function() {
                return false;
            }
        }).modal('attach events', '.button.blacklists', 'show');

        $('#create_blacklist').form({
            fields: {
                domain : 'empty',
            }
        });
    });
</script>

<div class="ui modal blacklists">
    <div class="header">
        Create new blacklist
    </div>
    <div class="content">
        <p>
            {{ render_form(blacklist_form, "create_blacklist") }}
        </p>
    </div>
    <div class="actions">
        <input type="submit" value="Create" form="create_blacklist" class="ui positive button" formmethod="post">
        <div class="ui button cancel">Cancel</div>
    </div>
</div>
