{%- from "_formhelper.html" import render_form -%}
{%- set success_header -%}
    <div class="ui positive message"><i class="close icon"></i><div class="header">
{%- endset -%}
{%- set error_header -%}
    <div class="ui negative message"><i class="close icon"></i><div class="header">
{%- endset -%}
{%- set title_content -%}
    </div><p>
{%- endset -%}
{%- set footer -%}
    </p></div>
{%- endset -%}
<button class="ui basic button callbacks">
    <i class="icon code"></i>
    New callback
</button>
<table class="ui celled sortable teal table">
<thead>
    <tr>
    <th>ID</th>
    <th>Hits</th>
    <th>Callback</th>
    </tr>
</thead>
<tbody>
    {%- for row in callbacks -%}
        {% if row['hits'] == 0 %}
        <tr class="negative">
        {% else %}
        <tr>
        {% endif %}
            <td>
                {{ row['id'] }}
            </td>
            <td>
                {{ row['hits'] }}
            </td>
            <td>
                <i class="icon link trash delete_cb" data-id="{{ row['id'] }}"></i>
                {{ row['name'] }}
            </td>
        </tr>
    {%- endfor -%}
</tbody>
</table>

<script>
    $(function () {
        $('.ui.modal.callbacks').modal({
            onApprove : function() {
                return false;
            }
        }).modal('attach events', '.button.callbacks', 'show');

        $('#create_callback').form({
            fields: {
                callback : {
                    rules: [
                        {
                            type   : 'contains[$h]',
                            prompt : 'You must include a location for the host ($h)'
                        },
                        {
                            type   : 'contains[$cb]',
                            prompt : 'You must include a location for the callback ($cb)'
                        },
                        {
                            type   : 'contains[$a]',
                            prompt : 'You must include a location for the assessment ($a)'
                        },
                    ]
                },
            },
        });

        $('#create_callback').api({
            action: 'create callback',
            method: 'POST',
            serializeForm: true,
            onSuccess: function() {
                $('#create_callback').trigger('reset');
                $('.ui.modal.callbacks').modal('hide');
                $('div.a_message').html('{{ success_header|safe }}Success{{ title_content|safe }}Callback created!{{ footer|safe }}');
                $('#tab_callbacks').click()
                $('.message .close').on('click', function() {
                    $(this).closest('.message').transition('fade');
                });
            },
            onError: function() {
                return false;
            },
        });

        $('.delete_cb').api({
            action: 'delete callback',
            method: 'DELETE',
            serializeForm: true,
            onSuccess: function() {
                $('div.a_message').html('{{ success_header|safe }}Success{{ title_content|safe }}Callback deleted!{{ footer|safe }}');
                $('#tab_callbacks').click()
                $('.message .close').on('click', function() {
                    $(this).closest('.message').transition('fade');
                });
            },
            onError: function(errorMessage) {
                $('div.a_message').html('{{ error_header|safe }} Error{{ title_content|safe }}' + errorMessage + '{{ footer|safe }}');
                $('.message .close').on('click', function() {
                    $(this).closest('.message').transition('fade');
                });
            },
        });
    });
</script>

<div class="ui modal callbacks">
    <div class="header">
        Create new callback
    </div>
    <div class="content">
        <p>
            {{ render_form(callback_form, "create_callback") }}
        </p>
    </div>
    <div class="actions">
        <input type="submit" value="Create" form="create_callback" class="ui positive button" id="btn_create_callback" formmethod="post">
        <div class="ui button cancel">Cancel</div>
    </div>
</div>
