CONFIG TAB

{#
<button class="ui basic button callbacks">
    <i class="icon code"></i>
    New callback
</button>
<table class="ui celled table">
<thead>
    <tr>
    <th>ID</th>
    <th>Hits</th>
    <th>Callback</th>
    </tr>
</thead>
<tbody>
    <tr>
        <td>No Name Specified</td>
        <td>Unknown</td>
        <td class="negative">None</td>
    </tr>
    <tr class="positive">
        <td>Jimmy</td>
        <td><i class="icon checkmark"></i> Approved</td>
        <td>None</td>
    </tr>
    <tr>
        <td>Jamie</td>
        <td>Unknown</td>
        <td class="positive"><i class="icon close"></i> Requires call</td>
    </tr>
    <tr class="negative">
        <td>Jill</td>
        <td>Unknown</td>
        <td>None</td>
    </tr>
</tbody>
</table>

<script>
    $(function () {
        $('.ui.modal.callbacks').modal({
            onApprove : function() {
                return false;
            }
        }).modal('attach events', '.button.callbacks', 'show');

        $('#create_callback').form({
            fields: {
                callback : {
                    rules: [
                        {
                            type   : 'regExp[/^[a-z0-9_-]{4,16}$/]',
                            prompt : 'Special regex'
                        },
                    ]
                },
            }
        });
    });
</script>

<div class="ui modal callbacks">
    <div class="header">
        Create new callback
    </div>
    <div class="content">
        <p>
            {{ render_form(callback_form, "create_callback") }}
        </p>
    </div>
    <div class="actions">
        <input type="submit" value="Create" form="create_callback" class="ui positive button" formmethod="post">
        <div class="ui button cancel">Cancel</div>
    </div>
</div>
#}