{%- from "_formhelper.html" import render_form, success_header, error_header, title_content, footer -%}
<button class="ui basic button users">
    <i class="icon add user"></i>
    New user
</button>
<table class="ui celled table">
<thead>
    <tr>
    <th>User</th>
    <th>E-mail</th>
    <th>Assessments</th>
    </tr>
</thead>
<tbody>
    {%- for row in users -%}
        <tr>
            <td>
                <i class="icon link trash delete_user" data-id="{{ row['id'] }}"></i>
                <i class="icon link edit edit_user" data-id="{{ row['id'] }}"></i>
                {{ row['name'] }}
            </td>
            <td>
                {{ row['email'] }}
            </td>
            <td>
                <div class="ui horizontal divided list">
                {% for assessment in row['assessments'] %}
                    <div class="item">
                    {{ assessment }}
                    </div>
                {% endfor %}
                </div>
            </td>
        </tr>
    {%- endfor -%}
</tbody>
</table>

<script>
    $(function () {
        $('.ui.modal.users').modal({
            onApprove : function() {
                return false;
            }
        }).modal('attach events', '.button.users', 'show');

        $('#create_user').form({
            fields: {
                username : 'empty',
                email    : 'email',
            }
        });

        $('#create_user').api({
            action: 'create user',
            method: 'POST',
            serializeForm: true,
            onSuccess: function() {
                $('#create_user').trigger('reset');
                $('.ui.modal.users').modal('hide');
                $('div.a_message').html('{{ success_header|safe }}Success{{ title_content|safe }}User created!{{ footer|safe }}');
                $('#tab_users').click()
                $('.message .close').on('click', function() {
                    $(this).closest('.message').transition('fade');
                });
            },
            onError: function() {
                return false;
            },
        });

        $('.delete_user').api({
            action: 'delete user',
            method: 'DELETE',
            serializeForm: true,
            onSuccess: function() {
                $('div.a_message').html('{{ success_header|safe }}Success{{ title_content|safe }}User deleted!{{ footer|safe }}');
                $('#tab_users').click()
                $('.message .close').on('click', function() {
                    $(this).closest('.message').transition('fade');
                });
            },
            onError: function(errorMessage) {
                $('div.a_message').html('{{ error_header|safe }} Error{{ title_content|safe }}' + errorMessage + '{{ footer|safe }}');
                $('.message .close').on('click', function() {
                    $(this).closest('.message').transition('fade');
                });
            },
        });

        $('.edit_user').api({
            action: 'modify user',
            method : 'GET',
            dataType: 'html',
            stateContext : '#edit_user_container',
            onSuccess: function(response) {
                $('#edit_user_container').html(response);
                $('.ui.modal.edit_user').modal({
                    onApprove : function() {
                        return false;
                    },
                }).modal('show');
                $('#edit_user').api({
                    action: 'create user',
                    method: 'POST',
                    serializeForm: true,
                    onSuccess: function() {
                        $('.ui.modal.edit_user').modal('hide');
                        $('div.a_message').html('{{ success_header|safe }}Success{{ title_content|safe }}User updated!{{ footer|safe }}');
                        $('#tab_users').click()
                        $('.message .close').on('click', function() {
                            $(this).closest('.message').transition('fade');
                        });
                    },
                    onError: function() {
                        return false;
                    },
                });
            },
        });
    });
</script>

<div class="ui modal users">
    <div class="header">
        Create new user
    </div>
    <div class="content">
        <p>
            {{ render_form(user_form, "create_user") }}
        </p>
    </div>
    <div class="actions">
        <input type="submit" value="Create" form="create_user" class="ui positive button" id="btn_create_user" formmethod="post">
        <div class="ui button cancel">Cancel</div>
    </div>
</div>

<div id="edit_user_container"></div>
