{%- from "_formhelper.html" import render_form -%}
<div class="ui modal view_assessment" id="view_assessment_modal">
    <div class="header">
        Callback hits for {{ view_assessment_form['name'] }}
    </div>
    <div class="content">
        <p>
            <table class="ui teal table">
                <thead>
                    <tr>
                        <th>
                            Callback name
                        </th>
                        <th>
                            Date observed
                        </th>
                        <th>
                            Referrer
                        </th>
                    </tr>
                </thead>
                <tbody>
                {% for cb in view_assessment_form['hits'] %}
                <tr>
                    <td>{{ cb['name'] }}</td>
                    <td>{{ cb['date'] }}</td>
                    <td>{{ cb['referrer'] }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </p>
    </div>
</div>